body {
    background-color: lightblue;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

header, footer{
    background-color: #E8E8E8;
    color: #BBB;
    border: 2px solid;
    border-radius: 25px;
}

footer {
    text-align:center;
    font-size: 12px;
    font-variant: small-caps;
    color : black;
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
}


footer p {
    text-align:center;
    font-size: 12px;
}

header a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px;
    border: 2px solid;
    border-radius: 25px;
    text-decoration: none;	
}

header a:hover {
    background-color: #4A7023;
    text-decoration: underline;
}    

div.right {
    text-align: justify;
    width: 53%;	
    float: right;
}

div.left {
    width: 47%;
    float: left;
    text-align: justify;
}   

div.clear {
    clear: both;

}
