body {
    background-color: lightblue;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.contents{
min-height:250px;
padding: 1%;

}

div.contents img {
float: right;
}

header, footer{
    background-color: #CCFFCC;
    color: #BBB;
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
}

footer {
    text-align:center;
    font-size: 12px;
    font-variant: small-caps;
    /*color : black;*/
    margin-top: 100px;
}


footer p {
    text-align: center;
    font-size: 12px;
}

header a {
    color: #081fcc;
    display: inline-block;
    border: 1px solid #fff;
    padding: 8px;
    border: 2px solid;
    border-radius: 25px;
    text-decoration: none;	
}

header a:hover {
    background-color: #4A7023;
    text-decoration: underline;
}    

header a:visited {
    color: #081fcc;
    text-decoration: none;
}

div.right {
    text-align: justify;
    width: 50%;	
    float: right;
    padding: 1%;
}

div.left {
    width: 45%;
    float: left;
    text-align: justify;
    padding: 1%;
}   

div.clear {
    clear: both;

}
div.right img{
    /*float: left;*/
    height: 75px;
    width: 75px;
}

